#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

/* .app-container {
  display: flex;
  width: 100vh;
  justify-content: center;
  align-items: flex-start; 
  height: 120vh;
  padding-top: 20px; 
} */

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 66.66%; /* Two-thirds of the container */
  height: auto; /* Adjust based on content */
  position: relative;
  background-image: url("/field.png");
  background-size: cover;
  background-position: center; /* Center the background image */
}

.overview-container {
  width: 33.33%; /* One-third of the container */
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto; /* In case of many players, allow scrolling */
  height: calc(100vh - 40px); /* Full height minus padding */
}

.grid-slot {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Full width of the column */
  height: 120px; /* Adjust to your preference */
  margin-bottom: 10px; /* Space between slots */
  position: relative;
}

.grid-slot.disabled {
  /* background-color: rgba(0, 0, 0, 0.1); Slightly dark to indicate disabled state */
  pointer-events: none; /* Disable interactions */
}

/* Additional styles for the grid slots to correctly position them */
/* You'll need to adjust the top and left values based on your layout */
.grid-slot:nth-child(1) {
  top: 10%;
  left: 10%;
}
/* Add similar rules for each child with appropriate top and left values */

/* App.css */

.player {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  font-size: 0.8em;
}

.player-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.player-stats {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.player-name {
  font-weight: bold;
}

.player-score {
  font-size: 0.8em;
}
